

*{
  padding: 0;
  margin: 0;
}

body{
  height: 7680px;;
}
.box{
  border: 10px green solid;
/*   overflow: hidden; */
}

.box p{
  width: 200px;
  height: 200px;
  border: 1px solid yellow;
  color: white;
  font-size: 80px;
}


.p_1{
  background: #000;
  opacity: 0.5;

}

.p_2{
  background: green;
  float: left;
}

.p_3{
  background: red;
  color: black;
}

.p_4{
  width: 200px;
  height: 300px;
  color: white;
  background: magenta;
  clear: left;  
  font-size: 60px;
}


.float_box{
  width: 200px;
  height: 220px;
  background: red;
  float: right;
  margin-left: 20px;
}

.float_box+p{
  background: gold;
  /* margin-left: 220px; */
}

.float_parent{
  border: 2px limegreen solid;
}



.netease :first-child{
  width: 200px;
  height: 200px;
  background: gold;
  color: black;
  float: left;
}

.netease :last-child{
  background: limegreen;
  color: black;
  height: 200px;
  width: 200px;
}


