
body,div,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 7680px;
}

span{
  color: white;
  background:red;
}

.span_1{
  width: 200px;
  height: 200px;;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px yellow solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.span_2{
  padding:0;
}

div{
background: red;
color: white;
width: 200px;
height: 200px;
}

.middle{
  padding: 10px;
  margin: 10px;
}

.box{
  display: inline-block;
  padding: 10px;
  margin: 10px;
}




.one_1,.one_2{
  width: 200px;
  height: 200px;
  color: white;
}

.one_1{
  color: black;
  background:  gold;
  border: 5px solid limegreen;
  padding: 10px;
  margin: 10px;
}

.one_2{
  background: red;
  border: 5px yellow solid;
  padding: 10px;
  margin: 10px;
}




