

*{
  margin: 0;
  padding: 0;
}

body{
 height: 7680px;
}


.static {
  position: relative;
}

 .static div{
   width: 200px;
   height: 200px;
   background: red;
   color: white;
   border: 1px yellow solid;
 }

 .static :first-child{
   position: static;
   left: 20px;
   top: 40px;
 }

.static :nth-child(2){
  background: gold;
  position: relative;
  left: 20px;
  top: 20px;
  color: black;
}

.static :nth-child(3){
  background: limegreen;
  position: absolute;
  left: 0;
}



.fixed{
  width: 200px;
  height: 200px;
  background: red;
  color: white;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: -100px;
  margin-left: -100px;
}

.position{
  margin-top: 200px;
  height: 200px;
  border: 2px limegreen solid;
  position: static;
}

.position div{
  width: 200px;
  height: 200px;
  background: red;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.X{
  height: 1000px;
  border: 5px dashed limegreen;
}

.X div{
  width: 200px;
  height: 200px;
  background: gold;
  border: 1px solid limegreen;
}

.X :nth-child(2){
  position: absolute;
  color: red;
  right: 0;
  top: 0;
}

.one{
  height: 1300px;
  border: 5px solid red;
  position: relative;
}

.two{
  height: 1100px;
  border: 5px dotted rebeccapurple;
}





