

body{
  margin: 0;
  padding: 0;
  margin-left: 20px;
  height: 7680px;
}

.title{
  font-weight:bold;
  color: blue;
}

#span{
  color: green;
}

.span{
  color: red;
}


p+span+a{
  color: brown;
}

code{
  color: red;
}
/* ------------------------------------------divier------------------------------------------------- */

*{
  font-family: "微软雅黑";  /* 全局选择器 */
}

h3 span{
  color: red; /* 后代选择器 通常用来定位一个指定的元素 */
}

.h3 a {
  color: blue; /* 后代选择器 */
}


h5+span{
  color: blueviolet;  /* x+y相邻选择器会选择前一个元素后面的第一个元素设置样式 */
}

h5~p{
  color: yellowgreen; /* x~y节点组合选择器会选择前一个元素后的所有符合条件的元素设置 */
}


.box>div{
  color: blueviolet;
}


a[target]{  /* 属性选择器 */
  color: red;
}

a[href="http://www.baidu.com"]{  /* 属性选择器的一种 只有满足属性值是某个指定的值才有效 */
  color: deeppink;
}

a[href^="http"]{
  background: url(../test.jpg) no-repeat;
}

.box_box:after{
  content: "a";
  width: 20px;
  height: 20px;
  background: mediumspringgreen no-repeat;
  visibility: visible;
  display: block;
}

.box_3 a:hover{
  color: deepskyblue;
}










