

body{
  margin: 0;
  padding: 0;
  margin-left: 20px;
  height: 7680px;
}

.title{
  font-weight:bold;
  color: blue;
}

#span{
  color: green;
}

.span{
  color: red;
}


code{
  color: red;
}
/* ------------------------------------------divier------------------------------------------------- */

*{
  font-family: "微软雅黑";  /* 全局选择器 */
}

h3 span{
  color: red; /* 后代选择器 通常用来定位一个指定的元素 */
}

.h3 a {
  color: blue; /* 后代选择器 */
}


h5+span{
  color: blueviolet;  /* x+y相邻选择器会选择前一个元素后面的第一个元素设置样式 */
}

h5~p{
  color: yellowgreen; /* x~y节点组合选择器会选择前一个元素后的所有符合条件的元素设置 */
}


.box>div{
  color: blueviolet;
}



.box_box:after{
  content: "a";
  width: 20px;
  height: 20px;
  background: mediumspringgreen no-repeat;
  visibility: visible;
  display: block;
}



.ul :nth-child(3){  /* 选择第三个子元素 */
  color: red;
}

.ul :nth-last-child(3){ /* 选择倒数第三个元素 */
  color: blue;
}


ul:nth-of-type(5){     /* 选取第几个对应类型的元素 */
  border: 2px orange solid;
}



ul:nth-last-of-type(1){  
  border: 2px red solid;
}

.oll li{
  border-bottom: 1px white solid;
  background: #3f3f3f;
  list-style-type: none;
  width: 300px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
}

.oll :last-child{   /* 选择最后一个子类元素 */
  border-bottom: none;
}

.oll :nth-child(1){
  color: red;
}

.a :nth-child(2){
  color: red;
}
.a :first-child{
  color: blue;
}
.a:last-child{
  color: green;
}


.divbox+p{ /* 相邻选择器 同级 兄弟关系 */
  color: blue;
  font-weight: bold;
  font-family: "华文细黑";
}

.divbox span{  /* 后代选择器 父与子关系 */
  color: deeppink;
  font-family: "华文细黑";
  font-size: 30px;
}

/* .divbox > span{
  color: orangered;
} */

.boxdiv>p{  /* 子选择器 只会选择父类下面满足条件的所有直接子元素 父与子关系 */
  color: magenta;
  font-size: 30px;
}

.di h1~p{  /* 兄弟节点匹配选择器 匹配该节点后的所有满足条件的选择器  同级兄弟关系*/
  color: tomato;
  font-size: 30px;
}

.a_link:link {
  color: green;
}

.a_link:visited {
  /* 被访问后 */
  color: gray;
}

.a_link:hover {
  /* 鼠标滑过 */
  color: red;
}

.a_link:active {
  /* 点击时 */
  color: blue;
}



.alink:visited{
  color:red;
}
.alink:link {
  color: green;
}
.alink:hover{
  color:blue;
}

/* 伪类和伪元素 */
/* 
伪类: link active visited hover
伪元素 :nth-child(n)  :first-child :last-child
       :first-line :first-letter 
       :after :before
       :nth-last-child(n)
       :nth-last-type(n)
*/
/* 通配符选择器 (*) */

.x::first-line{
  color: green;
  font-size: 14px;
}













