* {
  margin: 0;
  padding: 0;
}

.global {
  width: 980px;
  height: 1386px;
  background-color: white;
  padding: 0 30px 0 30px;
  margin: 0 auto;
}

.header {
  width: 892px;
  border-bottom: 2px solid #938e8c;
  position: relative;
}

.header .logo {
  display: inline-block;
  width: 110px;
  height: 61px;
  background-color: #d55f5b;
  font-size: 12px;
  font-family: "黑体";
  color: #ffffff;
  position: relative;
  vertical-align: bottom;
}

.logo span {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 2px;
  margin-bottom: 2px;
}

.header .logo+span {
  font-family: "黑体";
  font-size: 12px;
  color: #d45d5c;
  position: absolute;
  right: 0;
  bottom: 0;
}

.article_top {
  margin-top: 20px;
}

.top_content {
  width: 641px;
  height: 301px;
  background-image: url(./left_top_pic.png);
  display: inline-block
}

.top_content .banner {
  position: relative;
}

.top_content .banner .left_green,
.right_pink {
  width: 191px;
  height: 301px;
  opacity: 0.5;
  position: absolute;
}

.top_content .banner .left_green {
  left: 0;
  top: 0;
}

.top_content .banner .right_pink {
  right: 0;
  top: 0;
}

.article_top .tc_sub {
  margin-left: 35px;
  vertical-align: top;
  display: inline-block
}

.article_top .tc_sub h5 {
  width: 203px;
  height: 2px;
  background-color: #cc8091;
}

.article_top .tc_sub .p1 {
  font-size: 24px;
  font-family: "Microsoft YaHei";
  color: #000000;
  text-decoration-line: underline;
  font-weight: unset;
  margin-top: 10px;
}

.article_top .tc_sub .p1::first-letter {
  font-weight: bold;
}

.article_top .tc_sub .p1+p {
  font-size: 12px;
  font-family: "楷体";
  color: #676767;
  line-height: 10px;
}

.article_top .tc_sub .p_bold {
  font-weight: bold;
  font-size: 116px;
  color: #75b86b;
  font-family: "Microsoft YaHei";
}

.article_top .tc_sub .box_number .number {
  color: #cc8091;
  font-size: 55px;
  font-family: "Microsoft YaHei";
}

.article_top .tc_sub .box_number .number+div {
  display: inline-block;
  color: #cc8091;
  font-family: "Microsoft YaHei";
}

.article_top .tc_sub .box_number .number+div :first-child {
  font-size: 21px;
}

.article_top .tc_sub .box_number .number+div :last-child {
  font-size: 12px;
}

.middle 
.middle_green,
.middle_yellow,
.middle_pink {
  width: 25%;
  font-size: 16px;
  font-weight: bold;
  text-decoration-line: underline;
  display: inline-block;
}

.middle .middle_box{
  display: block;
  width: 25%;
  margin-right: 20px;
  float: left;
}

.middle::after{
  content: '';
  display: block;
  clear: both;
}

.middle .middle_box .middle_green{
  color: #418c59;
}

.middle .middle_box .middle_green+p,
.middle .middle_box .middle_yellow+p,
.middle .middle_box .middle_pink+p{
  font-size: 12px;
  color: #231815;
  opacity: 0.7;
  font-family: "Microsoft YaHei";
  margin-top: 4px;
}

.middle .middle_box .middle_yellow {
  color: #d2994f;
}
.middle .middle_box .middle_pink {
  color: #cc7680;
}

.middle .middle_box span{
  font-size: 12px;
}

.middle .middle_box .span_special{
  color: #cd4a48;
  opacity: 0.7;
  font-family: "Microsoft YaHei";
}

.article_bottom{
  margin-top: 20px;
}

.article_bottom .left,.right{
  width: 48%;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  margin-top: 50px;
}

.article_bottom .left p{
  font-size: 42px;
  font-family: "黑体";
  font-weight: bold;
  color: #11456b;
}

.article_bottom .left h5 {
  width: 478px;
  height: 2px;
  background-color: #11456b;
  margin-top: 16px;
}

.left .left_top_sub_div .left_top_sub_div_span{
  font-size: 70px;
  color: #f5e327;
  font-family: "Microsoft YaHei";
  float:left;
  margin-right: 10px;
  padding-bottom: 4px;
}

.left .left_top_sub_div .left_top_sub_div_span+div{
  margin-top: 20px;
}

.left .left_top_sub_div::after{
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}


.left .left_top_sub_div .left_top_sub_div_span+div,
.left .left_bottom_sub_div .left_bottom_sub_span {
  font-size: 12px;
  font-family: "宋体";
  color: #767777;
}

#img{
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}




.article_bottom .right{
  margin-left: 30px;
}

/* 不设置div宽高 ，设置其背景不生效 */
.right .right_top{
  width: 458px;
  height: 275px;
  background: url('./right_bottom_pic.png') no-repeat;
  position: relative;
}


.right .right_top .right_top_sub_div_optical
{
  width: 458px;
  height: 61px;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  left: 0;
  bottom: 16px;
  z-index: 1;
}


.right .right_top .divider{
  width: 458px;
  height: 61px;
  position: absolute;
  left: 0;
  bottom: 16px;
  z-index: 999;
  vertical-align:top;
}

.right .right_top .divider h4{
  width: 3px;
  height: 44px;
  background-color: #72b16a;
  display: inline-block;
  margin-left: 20px;
}

.right .right_top .divider h4+p{
  display: inline-block;
  color: #fff;
  font-size: 26px;
  margin-left: 20px;
  line-height: 44px;
}

.right .right_top .divider p+span{
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #72b16a;
  margin-left: 20px;
  line-height: 44px;
}

.right .right_bottom{
  width: 459px;
  height: 390px;
  margin-top: 10px;
  background-color: #eeeed4;
}

.right_bottom right_bottom_sub_top ul li{
  margin-left: 10px;
}




