

*{
  margin: 0;
  padding: 0;
}

body{
  min-width: 700px;
}


div{
  box-sizing: border-box;
}

.main{
  background-color: #eee;
  border: 1px #999 solid;
  padding-left: 240px;
  padding-right: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  position: relative;
}



.logo img{
  width: 80px;
  height: 80px;
  float: left;
}

.logo::after{
  content: "";
  height: 0;
  clear: both;
  display: block;
}

.logo span{
  margin-left: 6px;
}

.logo,
.desc,
.team_member{
  border: 1px #999 solid;
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.logo {
  width: 200px;
  float: left;
  margin-left: -100%;
  left: -220px;
}

.desc{
  width: 100%;
  float: left;
}

.team_member{
  width: 120px;
  float: right;
  margin-right: -120px;
  right: -20px;
}

.team_member div{
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.team_member :first-child{
  background-image: url('./fk_1.png');
}
.team_member :nth-child(2){
  background-image: url('./fk_2.png');
}
.team_member :nth-child(3){
  background-image: url('./fk_3.png');
}
.team_member :last-child{
  background-image: url('./fk_4.png');
  margin-bottom: 0;
}


 .main::after{
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}